<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <!-- 我将删除以下自定义 CORS 头配置，因为它们与 Program.cs 中的配置冲突。 -->
      <!-- <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, Authorization, X-Requested-With" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
      </customHeaders> -->
    </httpProtocol>
  </system.webServer>
</configuration>
